.tasks {
  height: calc(100vh - 145px);
}

.accordion-header > button {
  display: block;
}

.done.accordion-header > button {
  background: #20c997;
}

.task-actions button {
  margin-right: 10px;
}

@media only screen and (max-width: 576px) {
  .dropdown-menu-header {
    width: 100%;
  }

  .tasks {
    height: calc(100vh - 200px);
  }

  .task-actions button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
