.kanban-board {
  height: 100%;
  background-size: cover;
}

.kanban-board .toast-container {
  position: fixed;
}

.react-calendar {
  position: fixed;
  right: 4%;
  z-index: 10;
  border: 5px solid #e3e3e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-open > .modal-backdrop {
  --bs-backdrop-bg: transparent;
  --bs-backdrop-opacity: 1;
  backdrop-filter: blur(100px);
}