.kanban-column {
  min-height: 240px;
  max-height: 600px;
  margin: 25px 10px;
}

.dropdown > .dropdown-toggle::after {
  display: none;
}

.solid-column {
  background: #e3e3e3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.blurred-column {
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 20px gray;
}

.column-description {
  text-align: justify;
}